.link {
  display: block;
  padding: 0.5em 0;
}

.active {
  display: block;
  padding: 0.5em 0;
  background-color: rgb(247, 238, 168);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.link i,
.active i {
  padding: 0 1em;
}
