.link {
  display: block;
  padding: 0.5em 0;
}

.link i,
.active i {
  padding: 0 0.7em;
}

.active {
  background-color: #caae89;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
