.link {
  display: block;
  padding: 0.5em 1em;
}

.link i,
.active i {
  padding: 0 0.7em;
}

.active {
  background-color: #e0b438d0;
  padding: 0.5em 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
