div {
  border: 1px solid #000;
}

.navbar {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.addnote {
  grid-area: addnote;
}

.notelist {
  grid-area: notelist;
}

.App {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'aside addnote addnote addnote addnote'
    'aside notelist notelist notelist notelist';
}
