/* Global */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.aside,
.notelist,
.addnote {
  text-align: center;
}

/* navbar */

.navbar {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.addnote {
  grid-area: addnote;
}

.notelist {
  grid-area: notelist;
}

.App {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'aside addnote addnote addnote addnote'
    'aside notelist notelist notelist notelist';
}
