/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navbar */

.navbar {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.add-note {
  grid-area: addnote;
}

.note-list {
  grid-area: notelist;
}

.App {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1.5em;
  grid-template-areas:
    'header header header header header'
    'aside addnote addnote addnote addnote'
    'aside notelist notelist notelist notelist';
}
